<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="account-wall">
        <header>
          <h1 class="text-center login-title ion-log-in">Reset Password</h1>
        </header>
        <h1 class="text-center"> <img src="/assets/logo.png" width="60%"> </h1>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br /><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "New Password", required: true %><br/>
            <%= f.password_field :password_confirmation, autofocus: true, class: "form-control", placeholder: "Password Confirmation", required: true %>
            <%= f.submit 'Change Password', class: "btn btn-lg btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

